<!--
  templateType: error_page
  isAvailableForNewContent: true
  label: Boilerplate - 404 error
  screenshotPath: ../../images/template-previews/404.png
-->
{% set template_css = "../../css/templates/system.css" %}
{% extends "../layouts/base.html" %}

{# pageTitle is used on system templates for setting a value for the title tag #}
{% set pageTitle = "Error 404 | Page not found" %}

<script type="text/javascript" src="js/paper.js"></script>
<!-- Define inlined PaperScript associate it with myCanvas -->

<script type="text/paperscript" canvas="myCanvas">
	// Create a Paper.js Path to draw a line into it:
	var path = new Path();
	// Give the stroke a color
	path.strokeColor = 'black';
	var start = new Point(100, 100);
	// Move to start and draw a line from there
	path.moveTo(start);
	// Note the plus operator on Point objects.
	// PaperScript does that for us, and much more!
	path.lineTo(start + [ 100, -50 ]);
</script>

<section class="content-wrapper">
  <canvas id="myCanvas" resize></canvas>
</section>
{% block body %}
{% endblock body %}
